In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("Tabla S3.csv", delimiter=";", decimal=",", encoding="ISO-8859-1")

In [15]:
df.head()

,name,description in portuguese,Water,Protein,Lipids,Cholesterol,Ash,Ca,Mg,Mn,P,Fe,Na,K,Cu,Zn,Niacin,Class,description in english
0,341,"Carne, bovina, contra-filé de costela, cru",66.4,19.8,13.1,52,1.0,3,14,Tr,164,1.6,39,245,"0,04",4.4,2.68,beef,"Beef, beef, rib kebabs, raw"
1,342,"Carne, bovina, contra-filé de costela, grelhado",52.2,29.9,16.3,98,1.2,4,24,"0,01",252,2.8,51,383,"0,08",6.7,2.75,beef,"Beef, beef, rib kebabs, grilled"
2,343,"Carne, bovina, contra-filé, com gordura, cru",65.7,21.2,12.8,73,0.9,4,18,"0,01",164,1.3,44,285,"0,04",2.8,3.79,beef,"Beef, beef, kebabs, with fat, raw"
3,344,"Carne, bovina, contra-filé, com gordura, grelhado",51.7,32.4,15.5,144,1.2,4,19,Tr,219,2.4,57,352,"0,09",4.8,4.91,beef,"Beef, beef, kebabs, with fat, grilled"
4,345,"Carne, bovina, contra-filé, sem gordura, cru",69.1,24.0,6.0,59,1.0,4,21,Tr,184,1.7,53,335,"0,05",3.2,4.64,beef,"Meat, beef, kebabs, fat-free, raw"

In [16]:
df.columns

Index(['name', 'description in portuguese', 'Water', 'Protein ', 'Lipids ',
       'Cholesterol ', 'Ash ', 'Ca', 'Mg', 'Mn', 'P', 'Fe', 'Na', 'K', 'Cu',
       'Zn', ' Niacin', 'Class', 'description in english'],
      dtype='object')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       71 non-null     int64
 1   description in portuguese  71 non-null     object
 2   Water                      71 non-null     float64
 3   Protein                    71 non-null     float64
 4   Lipids                     71 non-null     float64
 5   Cholesterol                71 non-null     int64
 6   Ash                        71 non-null     float64
 7   Ca                         70 non-null     float64
 8   Mg                         71 non-null     int64
 9   Mn                         34 non-null     float64
 10  P                          71 non-null     int64
 11  Fe                         71 non-null     float64
 12  Na                         71 non-null     int64
 13  K                          71 non-null     int64
 14  Cu                         69 non-null     float64
 15  Zn                         71 non-null     float64
 16   Niacin                    71 non-null     float64
 17  Class                      71 non-null     object
 18  description in english     71 non-null     object
dtypes: float64(10), int64(6), object(3)
memory usage: 10.7+ KB

In [41]:
df.isnull().sum()

name                          0
description in portuguese     0
Water                         0
Protein                       0
Lipids                        0
Cholesterol                   0
Ash                           0
Ca                            1
Mg                            0
Mn                           37
P                             0
Fe                            0
Na                            0
K                             0
Cu                            2
Zn                            0
 Niacin                       0
Class                         0
description in english        0
dtype: int64

In [42]:
df.Ca = df.Ca.astype(str)
df["Ca"] = df["Ca"].replace({"Tr": None})
df["Ca"] = df["Ca"].str.replace(',', '.').astype(float)
df.Ca.astype(float)

df.Cu = df.Cu.astype(str)
df["Cu"] = df["Cu"].replace({"Tr": None})
df["Cu"] = df["Cu"].str.replace(',', '.').astype(float)
df.Cu.astype(float)

df.Mn = df.Mn.astype(str)
df["Mn"] = df["Mn"].replace({"Tr": None})
df["Mn"] = df["Mn"].str.replace(',', '.').astype(float)
df.Mn.astype(float)

0      NaN
1     0.01
2     0.01
3      NaN
4      NaN
      ...
66     NaN
67    0.02
68    0.36
69    0.52
70    0.40
Name: Mn, Length: 71, dtype: float64

In [43]:
df.head()

,name,description in portuguese,Water,Protein,Lipids,Cholesterol,Ash,Ca,Mg,Mn,P,Fe,Na,K,Cu,Zn,Niacin,Class,description in english
0,341,"Carne, bovina, contra-filé de costela, cru",66.4,19.8,13.1,52,1.0,3.0,14,NaN,164,1.6,39,245,0.04,4.4,2.68,beef,"Beef, beef, rib kebabs, raw"
1,342,"Carne, bovina, contra-filé de costela, grelhado",52.2,29.9,16.3,98,1.2,4.0,24,0.01,252,2.8,51,383,0.08,6.7,2.75,beef,"Beef, beef, rib kebabs, grilled"
2,343,"Carne, bovina, contra-filé, com gordura, cru",65.7,21.2,12.8,73,0.9,4.0,18,0.01,164,1.3,44,285,0.04,2.8,3.79,beef,"Beef, beef, kebabs, with fat, raw"
3,344,"Carne, bovina, contra-filé, com gordura, grelhado",51.7,32.4,15.5,144,1.2,4.0,19,NaN,219,2.4,57,352,0.09,4.8,4.91,beef,"Beef, beef, kebabs, with fat, grilled"
4,345,"Carne, bovina, contra-filé, sem gordura, cru",69.1,24.0,6.0,59,1.0,4.0,21,NaN,184,1.7,53,335,0.05,3.2,4.64,beef,"Meat, beef, kebabs, fat-free, raw"